* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Slide */
.slide-container {
  position: relative;
  overflow: hidden;
}

.slide-wrapper {
  display: flex;
}

.slide-wrapper:hover {
  will-change: transform;
}

.slide-wrapper li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  opacity: .8;
  transform: scale(.8);
  transition: .2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.slide-wrapper li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background-color: #fb5;
  transition: .1s;
  overflow: hidden;
  text-indent: -99999px;
}

[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background-color: #e54;
}

.custom-dots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 20px;
}

.custom-dots li {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 50%;
  opacity: .8;
  transform: scale(.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: .2s;
  cursor: pointer;
}

.custom-dots li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #fb4 url('../img/arrow.svg') center center no-repeat;
  cursor: pointer;
}

.arrow-nav button.prev {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate3d(0, -50%, 0) rotate(180deg);
}

.arrow-nav button.next {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate3d(0, -50%, 0);
}