* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Slide */
.slide-container {
  overflow: hidden;
}

.slide-wrapper {
  display: flex;
}

.slide-wrapper:hover {
  will-change: transform;
}

.slide-wrapper li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  opacity: .8;
  transform: scale(.8);
  transition: .2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.slide-wrapper li.active {
  opacity: 1;
  transform: scale(1);
}
